body {
    background-color: white;
    color: black;
}
header {padding: 0px 0px 0px 25px;
        margin: 0px 0px 0px 25px;
        font-weight: bold;
}
.person {
    padding-right: 20rem;
}
.menu {
    display: inline;

}
.menu a{
    padding-right: 20px;
}

section {
    padding: 0px 0px 0px 25px;
    margin: 0px 0px 0px 25px;
}

.heading {
    font-size: 30 px;
    color: black;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    margin: 0px 20px 0px 5px;
    height: 40px;
    text-align: center;
}

@media (min-width: 640px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width:960px) {
    body {
        font-size: 1.2rem;
    }
}

@media (min-width:1100px) {
    body {
        font-size: 1.5rem;
    }
}

.expirience {
    display:flex;
    align-items:left;
    justify-content:left;
}

    .expirience div {
        width: 500 px;
        height: 30px;
        padding-right: 10px;
        box-sizing: border-box;
        }

.expirience {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between; 
    margin-bottom: 1rem;
}
.expirience li {
    border: 2px solid beige;
    border-radius: 5px;
    background-color: beige;
    padding: 1rem;
    justify-content: space-between; 
    display: flex;
    margin-bottom: 1rem;
    margin-left: -20px;
}
#skills li{
    border-radius: 5px;
    border: 2px solid beige;
    color: var(--color-primary);
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
    margin-right: 5px;
}

.messageForm {
    display: block;
    border-radius: 3px;

}

.message {
    margin-right: 2em;
    display: flex;
    flex-direction: column;

}

.message label {
    font-size: 20px;
    color: black;
}

.message>textarea {
    flex: 1;
    margin-bottom: 1em;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    width: 81%;
    height: 100px;;
}
.button {
    background-color: lightgrey;
    border-radius: 2px;
color: blue;
min-width: 100px;
padding: 0.5rem 1rem;
transition: opacity 0.2s ease-in-out;
font-size: 20px;

}

.contact {
    flex: 1;
}

.contact label {
    font-size: 20px;
    
}

.contact input {
    width: 80%;
    border: 2px;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    width: 30%;
}

.contact input, .contact button {
    padding: 1em;
    margin-bottom: 1em;
}

.contact button {
    background-color: rgb(101, 175, 218);
    border-radius: 5px;
}